<div class="row">
  <div class="col-md-12">
    <div class="portlet box grey-cascade">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-globe"></i> User Items
        </div>
        <div class="tools">
          <a class="collapse" href="javascript:;">
          </a>
          <a class="config" data-toggle="modal" href="#portlet-config">
          </a>
          <a class="reload" href="javascript:;">
          </a>
          <a class="remove" href="javascript:;">
          </a>
        </div>
      </div>
      <div class="portlet-body">
        <div class="table-toolbar">
          <div class="btn-group">
          </div>

        </div>
        <% if items.size > 0 %>
            <div id="blogs_table_wrapper" class="dataTables_wrapper no-footer">
              <table id="user_items_table" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="sample_1_info">
                <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Username: activate to sort column ascending">
                    Title
                  </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 150px;" aria-sort="ascending" aria-label="Username: activate to sort column ascending">
                    Image
                  </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Username: activate to sort column ascending">
                    Description
                  </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Username: activate to sort column ascending">
                    Price
                  </th>
                  <th class="sorting_asc" tabindex="0" aria-controls="sample_1" rowspan="1" colspan="1" style="width: 100px;" aria-sort="ascending" aria-label="Username: activate to sort column ascending">
                    Action
                  </th>
                </tr>
                </thead>
                <tbody>
                <% items.each do |item| %>
                    <tr class="">
                      <td>
                        <p style="font-weight: bold; word-wrap: break-word;"> <%= item.title.capitalize! %> </p>
                      </td>
                      <td>
                        <%= image_tag item.image.url(:medium), :style => "width: 100%; height: 175px;" %>
                      </td>
                      <td>
                        <p style="font-weight: bold; word-wrap: break-word;"> <%= item.description.present? ? item.description : '' %> </p>
                      </td>
                      <td>
                        <p style="font-weight: bold; word-wrap: break-word;"> <%= item.price.present? ? item.price : '' %> </p>
                      </td>
                      <td id="div_<%#= blog.id %>">
                        <% if item.is_active == true %>
                            <%= link_to "Disable", 'javascript:;', :class => 'btn red', :onclick => "change_control('#{item.id}');" %>
                        <% else %>
                            <%= link_to "Enable", 'javascript:;', :class => 'btn blue', :onclick => "change_control('#{item.id}');" %>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
                </tbody>
              </table>
        <% else %>
            <h3>No Item found.</h3>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

    function change_control(id) {
        $.ajax({
            url: '/admin/user_items/change_item_control?id=' + id + '&user_id=' + '<%= user_id %>',
            processData: false,
            success: function (data) {
                $("#user_items_div").html(data);
            }
        });
    }

    var table = $('#user_items_table');
    table.dataTable({
        "columns": [
            {
                "orderable": true
            },
            {
                "orderable": true
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            },
            {
                "orderable": false
            }
        ],
        "lengthMenu": [
            [5, 10, 15, 20, -1],
            [5, 10, 15, 20, "All"] // change per page values here
        ],
        // set the initial value
        "pageLength": 10,
        "pagingType": "bootstrap_full_number",
        "language": {
            "lengthMenu": "_MENU_ records",
            "paginate": {
                "previous": "Prev",
                "next": "Next",
                "last": "Last",
                "first": "First"
            }
        },
        "columnDefs": [
            {  // set default column settings
                'orderable': true,
                'targets': [1]
            },
            {
                "searchable": true,
                "targets": [1]
            }
        ],
        "order": [
            [1, "asc"]
        ] // set first column as a default sort by asc
    });

</script>