<div class="w_100">
  <div class="user-image" style="margin:38px 10px 0 0;">
    <% user = @item.user %>
    <% if user.avatar? && File.exists?(user.avatar.path(:thumb).to_s) %>
        <%= image_tag user.avatar(:thumb) %>
    <% else %>
        <%= image_tag "missing.png" %>
    <% end %>
  </div>
  <div class="collar-price mrg-top50">
    $<%= @item.price.present? ? number_with_precision(@item.price, :precision => 2) : 0 %>
    <div class="from" style="font-size: 14px!important;" onclick="view_partial('icon_closet','/user/users/user_closet?id=<%= @item.user.id %>')">by <%= @user = @item.user.user_name %>
    </div>
  </div>

  <!--<div class="visit-con mrg-top50">-->
  <div class="total-visitor"><span><%= number_to_human(@item.adorns.length) %></span>
    <img src="/assets/bgEye.png" alt="">
  </div>
</div>

<div class="w_100">
  <div class="comment-con mdador">
    <% if @item.is_adoorned(current_user.id) %>
        <a href="#" class="gryBtn active" onclick="item_adoorning('<%= @item.id %>','<%= current_user.id %>','item')"><img src="/assets/adoorn-eye.png" alt="">
          Adoorned</a>
    <% else %>
        <a href="#" class="gryBtn" onclick="item_adoorning('<%= @item.id %>','<%= current_user.id %>','item')"><img src="/assets/adoorn-eye.png" alt="">
          Adoorn</a>
    <% end %>
    <% if @item.buy_link.present? %>
        <a id="buy_link" href="javascript:;<%#= @item.buy_link %>" onclick="viglinking('<%= @item.buy_link %>')" class="gryBtn">Buy</a>
    <% end %>
    <% if @item.user != current_user %>
        <a class="mre" href="javascript:;" id="share_item" onclick="report_item('<%= @item.id %>')">
          <!--<img src="/assets/more-copy.png">-->
          <div class="black-built-con mbnn0">
            <div class="black-built"></div>
            <div class="black-built"></div>
            <div class="black-built"></div>
          </div>
        </a>
    <% end %>
    <% if @item.user == current_user %>
        <a href="#" class="gryBtn" onclick="edit_item('<%= @item.id %>')"> Edit</a>
    <% end %>
  </div>
</div>

<script>

    var shareitembridge = {
        invoke: function (commandName, args) {
            //                console.log(commandName + ": " + JSON.stringify(args, null, 2));
            window.location = 'share-item:' + commandName + ':' + encodeURIComponent(JSON.stringify(args));
        }
    };

    function share_item(title, url) {
        var updateNativeBtn = document.getElementById('share_item');
//        var clickevent = window.ontouchend ? 'touchend' : 'click';
//        updateNativeBtn.addEventListener(clickevent, function (evt) {
//            evt.preventDefault();
        shareitembridge.invoke('ShareItem', {
            text: title,
            url: 'http://54.207.73.170' + url
        });
//        });
    }
    //        window.return_code = function (code) {
    //            var product_id = code.barcode;
    //            //                alert(product_id)
    //            alert('shared')
    //        }
    function report_item(id) {
        $.ajax({
            url: '/user/users/reporting?id=' + id + '&comment=false&content_type=item',
            success: function (data) {
                $('#main_div').html(data);
            }
        });
    }


    function edit_item(id) {
        $.ajax({
            url: '/user/user_items/edit_item?id=' + id,
            success: function (data) {
                $('#_sub').html(data);
            }
        });
    }

    var viglink_buy = {
        invoke: function (commandName, args) {
            window.location = 'BuyLink:' + commandName + ':' + encodeURIComponent(JSON.stringify(args));
        }
    };

    function viglinking(url) {

        var updateNativeBtn = document.getElementById('buy_link');
        viglink_buy.invoke('BuyLink', {
            url: url,
            key: '46a80f94e1ecde97928395b4a5aa4b13'
        });
    }
</script>
