<div id="_comment_partial">
  <header>
    <div class="h-con">
      <div class="user-main-con">
        <div class="h-heading2">Comments</div>
      </div>
      <div class="backBtn">
        <a href="javascript:;" onclick="get_partial('<%= @blog_id %>', '/user/user_blogs/show','blog_comment_partial')"><img src="/assets/setting-errow.png" alt=""></a>
      </div>
      <div class="clear-fix"></div>
    </div>
  </header>

  <div class="w_100 padbot100">
    <div class="w_100 btnOut96">
      <%= render :partial => '/shared/comments', :locals => {:@comments => @comments} %>

      <div class="add-comments w-100">
        <% @comment = Comment.new %>
        <%= form_for @comment, :url => '/user/user_blogs/add_comments', :html => {:multipart => true, :onsubmit => "return false", :id => 'user_blog_comment_form', :method => 'post'} do |comment| %>
            <%= comment.text_field :text, :placeholder => "Add a comment" %>
            <%= comment.hidden_field :user_blog_id, :value => @blog_id %>
            <%= comment.hidden_field :user_id, :value => current_user.id %>
            <button class="add-comments-btn" onclick="add_comment('<%= @blog_id %>')">add</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>

    $(function () {
        window.scrollTo(0, 0);
    });

    $("#user_blog_comment_form").validate({
                rules: {
                    "comment[text]": {
                        required: true
                    }
                }
            }
    );
    function add_comment(item_id) {
        if ($('#user_blog_comment_form').valid() == true) {
            $('.background_shadow').show();
            $("#user_blog_comment_form").ajaxSubmit({
                url: '/user/user_blogs/add_comments?id=' + item_id,
                success: function (data) {
                    if (data != 'error') {
                        $("#_comment_partial").html(data)
                        $('.background_shadow').hide();
                    }
//                        $('#user_item_show').html(data);
                },
                error: function (data) {

                }
            });
        }
    }
</script>