<div class="middle-section">
  <div class="desk-n-f-con">
    <% if @comments.size > 0 %>
        <% @comments.each do |comment| %>
            <div class="desk-comments-h-con">
              <div class="w-100">
                <a href="#" onclick="closet(<%= comment.user.id %>)">
                  <div class="desk-mn-user-image">
                    <% if comment.user.avatar? && File.exists?(comment.user.avatar.path(:thumb).to_s) %>
                        <%= image_tag comment.user.avatar(:thumb) %>
                    <% else %>
                        <%= image_tag "missing.png" %>
                    <% end %>
                  </div>
                </a>

                <div class="comments-desc">
                  <div class="f-l">
                    <a class="low_cas_desk" href="#" onclick="closet(<%= comment.user.id %>)"><%= comment.user.user_name %></a>
                  </div>
                  <div class="desk-comm-days"><%= time_ago_in_words(comment.created_at) %> ago</div>

                  <div class="detail">
                    <%= comment.text %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
    <% else %>
        <div class="desk-comments-h-con border-0">
          <div class="w-100">
            <div class="comments-desc">
              <div class="detail" style="text-align: center;font-family: weezerfont_CURRENT">Nothing Found.<%#= c.text %></div>
            </div>
          </div>
        </div>
    <% end %>


    <div class="w-100">
      <div class="desk-add-com-box">
        <% @comment = Comment.new %>
        <%= form_for @comment, :url => "/user/user_blogs/add_comments?id=#{blog.id}", :html => {:multipart => true, :onsubmit => "return false", :id => 'blog_comment_form', :method => 'post'} do |comment| %>
            <%= comment.text_field :text, :placeholder => "Add a comment", :id => "blog_comment" %>
            <%= comment.hidden_field :user_blog_id, :value => blog.id %>
            <%= comment.hidden_field :user_id, :value => current_user.id %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    $('#blog_comment').keyup(function (e) {
        if (e.keyCode == 13) {
            $(".background_shadow").show();
            $('#blog_comment_form').ajaxSubmit({
                success: function (data) {
                    $('#blog_comment').val('');
                    $(".background_shadow").hide();
                    $('#desk_main_div').html(data);
                },
                error: function (data) {
                    $(".background_shadow").hide();
                }
            });
        }
    });
</script>