<div class="blgJ">
  <% if @blogs != nil && @blogs.size > 0 %>
      <% @blogs.each do |blog| %>
          <div class="animated  fadeInRight ">
            <div class="container-desk">
              <div class="w-100">
                <!--<div class="user-con">-->
                <!--<div class="user-image">-->
                <!--<%# @user = blog.user %>-->
                <!--<%#= image_tag @user.avatar.present? ? @user.avatar.url(:medium) : "/assets/missing.png" %>-->
                <!--&lt;!&ndash;<img alt="" src="/assets/user-pic.jpg">&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="user-name"><%#= @user.user_name %></div>-->
                <!--</div>-->
                <!--<div class="time-con">-->
                <!--<p><%#= time_ago_in_words(blog.created_at) %> ago</p>-->
                <!--</div>-->

                <div style="border:none;" class="inner-h-con desk-h-con p0">
                  <a href="#" onclick="closet('<%= blog.user.id %>')">
                    <% if blog.user.avatar? %>
                        <%= image_tag blog.user.avatar(:thumb), :class => 'thumbnail', :style => "width :41px;height:41px;margin:14px 3% 0 0 " %>
                    <% else %>
                        <%= image_tag "missing.png", :class => 'thumbnail', :style => "width:41px;height:41px;margin:14px 3% 0 0 " %>
                    <% end %>
                  </a>

                  <a href="#" class="pro low_cas_desk" style="color: #000;padding: 16px 0 0 0" onclick="closet('<%= blog.user.id %>')"><%= blog.user.user_name %></a>

                  <div class="desk-top-time" style="clear: both;display: table;padding-left: 62px;margin: 0;line-height: 0;"><%= time_ago_in_words(blog.created_at) %>
                    ago
                  </div>
                </div>
              </div>
              <div class="w-100">
                <div class="banner-con">
                  <div class="heading"><%= blog.title if blog.title.present? %></div>
                  <!--<img src="/assets/banner.jpg" alt="">-->

                  <div class="des" id="blog_links_dsk1">
                    <%= blog.content.html_safe %>
                  </div>
                </div>
              </div>
              <div id="blog_<%= blog.id %>">
                <%= render :partial => '/desktop/users/blog_buttons', :locals => {:blog => blog} %>
              </div>
            </div>
          </div>
      <% end %>
  <% else %>
      <div class="animated  fadeInRight ">
        <div class="container-desk">
          <div class="w-100">
            <div class="banner-con desk-not-found">
              Nothing Found.
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

<script>
    $(document).ready(function () {
        $('#blog_links_dsk1 a').attr('target', '_blank');
        //        $('#abcdef a').attr('href', 'javascript:;');
    })
</script>