<div class="animated  fadeInRight">
  <div class="container-desk">
    <div class="closet-new-desk">
      <% if items.size > 0 %>
          <% items.each do |item| %>
              <div class="outfits-left">
                <div class="desk-pro-img">
                  <div class="desk-pro-content" onclick="show_outfit(<%= item.id %>)">
                    <a href="#">
                      <% if item.image? && File.exists?(item.image.path(:thumb).to_s) %>
                          <%= image_tag item.image.url(:original) %>
                      <% else %>
                          <%= image_tag "missing_item.jpeg" %>
                      <% end %>
                    </a>
                  </div>
                  <div class="desk-days" style="padding: 5px 0 0!important;"><%= time_ago_in_words(item.created_at) %>
                    ago
                  </div>
                  <div class="desk-total-visitor" style="padding: 0 0 7px!important;"><%= number_to_human(item.adorns.length) %>
                    <img src="/assets/desk-ro-avi-img.png" alt="">
                  </div>
                </div>
              </div>
          <% end %>
      <% else %>
          <div class="banner-con desk-not-found">
            Nothing Found.
          </div>
      <% end %>
    </div>
  </div>
</div>


<script>
    function show_outfit(id) {
        $(".background_shadow").show();
        $.ajax({
            url: '/user/user_outfits/show?id=' + id,
            processData: false,
            success: function (data) {
                $(".background_shadow").hide();
                $("#desk_main_div").html(data)
            }
        });
    }
</script>