<div class="wrapper setting-bg">
  <header>
    <div class="h-con">
      <div class="user-main-con">
        <div class="h-heading">ADOORN</div>
      </div>
      <div class="backBtn"><a href="/users/sign_in"><img src="/assets/setting-errow.png" alt=""></a></div>
      <div class="clear-fix"></div>
    </div>
  </header>
  <div class="acc-main-con">
    <div class="account-h-con">
      <div class="heading">Password Reset</div>
    </div>
    <div class="w100">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, :id => 'reset_form'}) do |f| %>
          <%#= devise_error_messages! %>
          <!--<form action="#" method="post">-->
          <div class="form ch-pw">
            <%= f.email_field :email, autofocus: true, :placeholder => "Email Address", :id => "abcd" %>
            <!--<input type="text" name="email" id="email" placeholder="Email Address"/>-->
          </div>

          <div class="container" style="max-width: 100%;">
            <a href="javascript:;" class="sign_btn reset-pw-btn border_9" id="abc" onclick="submitting()">RESET</a>
            <%#= f.submit "Reset Password", :class => "sign_btn" %>
            <!--<input type="submit" class="save-chage-btn padding" name="submit" value="Reset Password">-->
          </div>
      <% end %>
    </div>
  </div>
</div>
<%= render :partial => "/shared/pop_up" %>

<script>

    $(document).ready(function () {
        $('#reset_form').keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which)
            if (code == 13) {
                return false;
            }
        });
    })


    function submitting() {
        $('.background_shadow').show()
        $('#reset_form').submit()
    }
//    hudMsg('error', "<%#= resource.errors.full_messages.first %>")
    if ("<%= resource.errors.full_messages.first %>" != "") {
        document.getElementById("mainpop_text").innerHTML = "<%= resource.errors.full_messages.first %>";
        $("#mainapp_popup").show();
        setTimeout(function () {
            close_me_please();
        }, 4000);
    }
</script>