<%= form_for @user, :url => '/admin/user_blogs/', :html => {:id => 'user_form', :multipart => true, :onsubmit => 'return false;'} do |f| %>
    <div class="errD">
      <div class="clearfix">
        <label>First Name:</label>
        <%= f.text_field :first_name, :placeholder => "First Name", :class => "form-control placeholder-no-fix" %>
      </div>
      <div class="clearfix">
        <label>Last Name:</label>
        <%= f.text_field :last_name, :placeholder => "Last Name", :class => "form-control placeholder-no-fix" %>
      </div>
      <%= f.hidden_field :hide_as_user, :value => true %>
      <%= f.hidden_field :user_name, :value => nil %>
      <%= f.hidden_field :password, :value => "123123123" %>
      <%= f.hidden_field :password_confirmation, :value => "123123123" %>
      <div class="clearfix">
        <label>Email:</label>
        <%= f.text_field :email, :placeholder => "Email", :class => "form-control placeholder-no-fix" %>
      </div>
      <div class="clearfix">
        <label>Internal UserName:</label>
        <%= f.text_field :user_name, :placeholder => "Internal UserName", :class => "form-control placeholder-no-fix", :id => "username" %>
      </div>
      <% f.object.user_feed ||= UserFeed.new %>
      <%= f.fields_for :user_feed do |feed| %>
          <div class="clearfix">
            <label>Blog Title:</label>
            <%= feed.text_field :feed_title, :placeholder => "BLOG TITLE", :class => "form-control placeholder-no-fix" %>
          </div>
          <div class="clearfix">
            <label>Blog url:</label>
            <%= feed.text_field :url, :placeholder => "BLOG URL", :class => "form-control placeholder-no-fix" %>
            <%= feed.hidden_field :is_active, :value => 1 %>
          </div>
      <% end %>
      <div class="clearfix">
        <label>Select Image:</label>
        <%= image_tag (@user.avatar.present? ? @user.avatar(:thumb) : "/assets/missing.png"), :class => 'thumbnail' unless f.object.new_record? %>
        <%= f.file_field :avatar %>
      </div>
      <br>

      <div class="clearfix">

        <% if f.object.new_record? %>
            <%= link_to "submit", "javascript:;", :onclick => "submit_user('create', '');", :class => "btn green pull-left" %>
        <% else %>
            <%= link_to "submit", "javascript:;", :onclick => "submit_user('update', '#{@user.id}');", :class => "btn green pull-left" %>
        <% end %>
      </div>
    </div>

<% end %>

<script>
    jQuery.validator.addMethod("noSpace", function (value, element) {
        return value.indexOf(" ") < 0 && value != "";
    }, "No space allowed.");
    $(function () {
        $('#username').on('keypress', function (e) {
            if (e.which == 32)
                return false;
        });
    });
    $("#user_form").validate({
                rules: {
                    "user[first_name]": {
                        maxlength: 255,
                        minlength: 3
//                        required: true
                    },
                    "user[last_name]": {
                        maxlength: 255,
                        minlength: 3,
                        required: true
                    },
                    "user[about_me]": {
                        maxlength: 100
                        //                        required: true
                    },
                    "user[email]": {
                        maxlength: 255,
//                        minlength: 1,
//                        required: true,
                        email: true,
                        remote: {
                            url: "/admin/users/user_email_present?email=" + "user[email]&id=" + <%= @user.id %>,
                            type: "get"
                            //                            dataType:'html'
                        }
                    },
                    "user[user_name]": {
                        maxlength: 255,
                        minlength: 3,
                        required: true,
                        noSpace: true,
                        remote: {
                            url: "/user/users/check_username?user_name=" + "user[user_name]",
                            type: "get"
                            //                            dataType:'html'
                        }
                    }
                },
                messages: {
                    "user[email]": {
                        remote: "Email already exists."
                    }
                }

            }
    );

    function submit_user(action, user_id) {
        if ($('#user_form').valid() == true) {
            $(".background_shadow").show()
            $("#user_form").ajaxSubmit({
                url: $('#user_form').attr("action") + action + '?user_id=' + user_id,
                success: function (data) {
                    if (data == 'present') {
                        alert("Email already present.")
                        $(".background_shadow").hide()
                    }
                    else if (data != 'error') {
                        $(".background_shadow").hide()
                        $('#panel_body').html(data);
                    }
                },
                error: function (data) {

                }
            });
        }
    }
    //    select class after loading
    $(document).ready(function () {
        $("select").addClass('form-control input-medium select2me')
    })

</script>


