<div class="wrapper">
  <header>
    <div class="h-con">
      <div class="h-heading">ADOORN</div>
    </div>
  </header>
  <div class="w_100">
    <!--<div class="w100">-->
    <div class="w100">
      <div class="our-fea-blog">
        <div class="fav-h">Our Featured Bloggers</div>
        <div class="text">Keep up with your favorite blogs.</div>
      </div>

      <!--<div class="w100">-->
      <div class="user-img-con">
        <!--<div class="user-main-con">-->
        <!--<div class="user-main-con txtCenter">-->
        <% @bloggers.each do |blogger| %>
            <div id="blogger_<%= blogger.id %>" class="brandsList2" onclick="select_blogger(<%= blogger.id %>)">
              <% if blogger.avatar.present? %>
                  <%= image_tag blogger.avatar.url(:medium) %>
              <% else %>
                  <%= image_tag "/assets/defalt-img.jpg" %>
              <% end %>
              <!--<div class="boxin_txt">-->
              <div class="overlay"></div>
              <div class="overDet">
                <h4><%= (blogger.first_name.present? ? blogger.first_name : '')+ '' + (blogger.last_name.present? ? blogger.last_name : '') %></h4>

                <p><%= blogger.location %></p></div>
            </div>
        <% end %>
      </div>
    </div>
  </div>

  <!--<div class="built"><img src="/assets/built.png" alt=""></div>-->

  <!--<div class="continue-con-btn">-->
  <!--<a href="javascript:;" onclick="save_bloggers('<%#= user_id %>', 'continue');">Continue</a></div>-->
  <!--<div class="skip-text"><a href="javascript:;" onclick="save_bloggers('<%#= user_id %>', 'skip');">Skip</a></div>-->

  <div class="built"><img src="/assets/built.png" alt=""></div>
  <div class="btnOut">
    <div class="continue-con-btn">
      <a href="javascript:;" onclick="save_bloggers('<%= user_id %>', 'continue');">Continue</a></div>
  </div>
  <!--btnOut-->
  <div class="skip-text"><a href="javascript:;" onclick="save_bloggers('<%= user_id %>', 'skip');">Skip</a></div>
  <!--</div>-->
</div>
<div class="background_shadow" style="display: none">
  <div class="loader_img"></div>
</div>

<script>

    var bloggers_list = []
    function select_blogger(blogger_id) {
        var count = 0;
        $.each(bloggers_list, function (index, id) {
            if (id == blogger_id) {
                bloggers_list[index] = null;
                $('#blogger_' + blogger_id).removeClass("active");
                count = count + 1;
                return
            }
        });
        if (count == 0) {
            bloggers_list.push(blogger_id);
            $('#blogger_' + blogger_id).addClass("active");
        }
    }

    function save_bloggers(id, action) {
        $('.background_shadow').show();
        if (action == 'skip')
            bloggers_list = [];
        $.ajax({
            url: '/home/fav_bloggers?list=' + bloggers_list + '&user_id=' + id,
            success: function (data) {
                if (data != 'error') {
                    $('.background_shadow').hide();
                    window.location.href = data;
                }
            },
            error: function (data) {
            }
        });
    }

</script>