<%= form_for @item, :url => '/admin/basic_items/', :html => {:multipart => true, :onsubmit => "return false", :id => 'item_form', :method => 'post'} do |f| %>
<div class="errD">
    <div class="clearfix">
      <%= f.label :color %>
      <%= select_tag("basic_item[color]", options_for_select(BasicItem.colours, :selected => ""), :id => "state_dropdown", :style => "height:35px;width:275px; margin:5px 50px 0 0") %>
    </div>
    <div class="clearfix">
      <%= f.label :image %>
      <%= image_tag @item.image.url(:thumb), :class => 'thumbnail' unless f.object.new_record? %>
      <%= f.file_field :image %>
    </div>
    <br>

    <div class="clearfix">
      <% if f.object.new_record? %>
          <%= link_to "submit", "javascript:;", :onclick => "submit_item('create', '');", :class => "btn green pull-left" %>
      <% else %>
          <%= link_to "submit", "javascript:;", :onclick => "submit_item('update', '#{@item.id}');", :class => "btn green pull-left" %>
      <% end %>
    </div>
</div>
<% end %>

<script>

    function submit_item(action, id) {
        if ($('#item_form').valid() == true) {
            $(".background_shadow").show()
            $("#item_form").ajaxSubmit({
                url: $('#item_form').attr("action") + action + '?id=' + id,
                success: function (data) {
                    if (data != 'error') {
                        $(".background_shadow").hide()
                        $('#panel_body').html(data);
                    }
                },
                error: function (data) {

                }
            });
        }
    }

    $('#item_form').validate({
                rules: {
                    "basic_item[image]": {
                        required: true
                    }
                }

            }
    );

</script>
