<header>
  <div class="h-con">
    <div class="user-main-con">
      <div class="h-heading">Settings</div>
    </div>
    <div class="backBtn">
      <a href="#" onclick="back_to_setting()"><img src="/assets/setting-errow.png" alt=""></a>
    </div>
    <div class="clear-fix"></div>
  </div>
</header>
<div class="acc-main-con w_100 padbot100">
  <div class="account-h-con">
    <div class="heading">About Me</div>
  </div>
  <div class="w100">
    <%= form_for @user, :html => {:id => 'aboutme_form', :multipart => true, :onsubmit => 'return false;'} do |f| %>
        <div class="form fxfrm">
          <%= f.text_area :about_me, :placeholder => "BIO", :id => "aboutme", :maxlength => 255 %>
          <img src="/assets/f-name.png" alt="">
        </div>
        <% f.object.user_feed ||= UserFeed.new %>
        <%= f.fields_for :user_feed do |feed| %>
            <div class="gap2"></div>
            <div class="form fxfrm">
              <%= feed.text_field :feed_title, :placeholder => "Blog title", :id => "b_title", :class => "form-control" %>
            </div>
            <div class="gap2"></div>
            <div class="form fxfrm">
              <img alt="" src="/assets/blog-icon.png">
              <%= feed.text_field :url, :placeholder => "Blog URL", :id => "url", :class => "form-control" %>
              <%= feed.hidden_field :user_id, :value => current_user.id %>
            </div>
        <% end %>
        <div class="w_100 btnOut setting-bg padbot100">
          <p class="bioP">Adoorn will review your blog and determine if it fits our guidelines. You will be notified if
            your account
            has been approved as a verified blogger.</p>
          <input type="button" class="save-chage-btn padding" name="submit" onclick="change_aboutme('<%= @user.id %>')" value="save changes">
          <!--<a href="javascript:;" class="sign_btn mrg20 txt_upp" name="submit" onclick="change_aboutme('<%#= @user.id %>')">save-->
          <!--changes</a>-->
        </div>
    <% end %>
  </div>
</div>


<script>
    function change_aboutme(user_id) {
        if ($('#aboutme_form').valid() == true) {
            $('.background_shadow').show()
            $("#aboutme_form").ajaxSubmit({
                url: '/user/users/aboutme_update?user_id=' + user_id,
                success: function (data) {
                    if (data == 'error') {
                        $('.background_shadow').hide()
                        document.getElementById("mainpop_text").innerHTML = "Try again.";
                        $("#mainapp_popup").show();
                        setTimeout(function () {
                            close_me_please();
                        }, 4000);
                    }
                    else {
                        $('.background_shadow').hide();
                        $('#main_div').html(data);
                    }
//                    $("#settings").show()
                },
                error: function (data) {

                }
            });
        }
    }

    $("#aboutme_form").validate({
                rules: {
                    "user[about_me]": {
                        maxlength: 100
//                            minlength: 3,
//                            required: true
                    }
//                    ,
//                    "user[last_name]": {
//                        maxlength: 255,
//                        minlength: 3,
//                        required: true
//                    }
                }

            }
    );
</script>
