<header>
  <div class="h-con">
    <div class="user-main-con">
      <div class="h-heading">Settings</div>
    </div>
    <div class="backBtn">
      <a href="#" onclick="back_to_setting()"><img src="/assets/setting-errow.png" alt=""></a>
    </div>
    <div class="clear-fix"></div>
  </div>
</header>
<div class="acc-main-con w_100">
  <div class="account-h-con">
    <div class="heading">Change Password</div>
  </div>
  <div class="w_100">
    <%= form_for @user, :html => {:id => 'password_form', :multipart => true, :onsubmit => 'return false;'} do |f| %>
        <div class="form ch-pw">
          <%= f.email_field :email, :readonly => true, :placeholder => "Email Address", :class => 'brd0' %>
        </div>
        <div class="gap"></div>
        <div class="form ch-pw">
          <%= password_field_tag 'Old_Password', '', :placeholder => 'Old Password' %>
        </div>
        <div class="form ch-pw">
          <%= f.password_field :password, :placeholder => "New Password", :id => "new_password" %>
        </div>
        <div class="form ch-pw">
          <%= f.password_field :password_confirmation, :placeholder => "New Password, again", :id => "password_confirmation", :class => 'brd_tp' %>
        </div>

        <div class="container">
          <!--<a class="sign_btn mrg20 txt_upp" name="submit" onclick="change_password('<%#= @user.id %>')">Change-->
          <!--Password</a>-->
          <input type="button" class="save-chage-btn padding" name="submit" onclick="change_password('<%= @user.id %>');" value="Change Password">
        </div>
    <% end %>
  </div>
</div>



<script>
    $("#password_form").validate({
                rules: {
                    "user[password]": {
                        required: true,
                        maxlength: 255,
                        minlength: 6
                    },
                    "user[password_confirmation]": {
                        required: true,
                        maxlength: 255,
                        minlength: 6,
                        equalTo: '#new_password'
                    }, "Old_Password": {
                        required: true,
                        maxlength: 255,
                        minlength: 6
//                        equalTo: '#new_password'
                    }
                    //                    "current_password": {
                    //                        required: true,
                    //                        maxlength: 255,
                    //                        minlength: 8,
                    //                        remote: {
                    //                            url: "/user/users/authenticate_password?current_password=" + $("#current_password").val(),
                    //                            type: "get"
                    //                                                            //dataType:'html'     //this will remain commented
                    //                        }
                    //                    }
                }

            }
    );

    //done

    function change_password(user_id) {
        if ($('#password_form').valid() == true) {
            $('.background_shadow').show()
            $("#password_form").ajaxSubmit({
                url: '/user/users/password_update?user_id=' + user_id,
                success: function (data) {
                    if (data == 'error') {
                        $('.background_shadow').hide()
                        document.getElementById("mainpop_text").innerHTML = "Try again.";
                        $("#mainapp_popup").show();
                        setTimeout(function () {
                            close_me_please();
                        }, 4000);
                    }
                    else if (data == 'wrong') {
                        $('.background_shadow').hide()
                        document.getElementById("mainpop_text").innerHTML = "Old password is incorrect.";
                        $("#mainapp_popup").show();
                        setTimeout(function () {
                            close_me_please();
                        }, 4000);
                    }
                    else {
                        $('.background_shadow').hide()
                        $('#main_div').html(data);
                    }
                    //                    $("#settings").show()
                },
                error: function (data) {

                }
            });
        }
    }
</script>
