<div id="_main" class="">
  <!--style="background: url(<%#= @user.avatar.url(:medium) %>) no-repeat scroll center top; background-size: 100%;"-->
  <header>
    <div class="h-con">
      <div class="user-main-con">
        <div class="h-heading">ADOORN</div>
      </div>
      <% if user_signed_in? %>
          <div id="closet_bkbtn" class="backBtn" style="display: none;">
            <a href="javascript:;" onclick="return_back('closet');"><img src="/assets/setting-errow.png" alt=""></a>
          </div>
          <% if @user == current_user %>
              <div class="gear">
                <a href="javascript:;" onclick="get_partial('<%= current_user.id %>', '/user/users/profile');"><img src="/assets/gear.png" alt=""></a>
              </div>
          <% else %>
              <div class="gear mbnn" id="user_dots" onclick="report_user1('<%= @user.id %>','user')">
                <div class="black-built-con mbnn0">
                  <a href="#">
                    <div class="black-built"></div>
                  </a>
                  <a href="#">
                    <div class="black-built"></div>
                  </a>
                  <a href="#">
                    <div class="black-built"></div>
                  </a>
                </div>
              </div>
          <% end %>
      <% end %>
      <div class="clear-fix"></div>
    </div>
  </header>

  <div id="">
    <%= render :partial => '/user/users/user_details', :locals => {:@user => @user} %>
  </div>
  <%= render :partial => '/user/users/index_tabs', :locals => {:@user => @user} %>
</div>

<div id="_sub" class="" style="display: none;"></div>

<script>
    $("#wrapper").removeClass('create-outfitbg');

    function return_closet() {
        view_partial('icon_closet', '/user/users/user_closet?id=<%= @user.id %>')
    }

    var sharebridge = {
        invoke: function (commandName, args) {
            //                console.log(commandName + ": " + JSON.stringify(args, null, 2));
            window.location = 'share-item:' + commandName + ':' + encodeURIComponent(JSON.stringify(args));
        }
    };

    function share_user(title, url) {
        var updateNativeBtn = document.getElementById('user_dots');
        sharebridge.invoke('ShareItem', {
            text: title,
            url: 'http://54.207.73.170' + url
        });
//        });
    }

    function report_user1(id, type) {
        $.ajax({
            url: '/user/users/reporting?id=' + id + '&comment=false&content_type=' + type,
            success: function (data) {
                $('#main_div').html(data);
            }
        });
    }
</script>